<ul>
  <li *ngFor="let region of regions$| async" (click)="selectRegion(region.url)">{{ region.name }}</li>
</ul>

<ul>
  <li *ngFor="let pokedex of pokedexes$| async" (click)="selectPokedex(pokedex.url)">{{ pokedex.name}}</li>
</ul>
