<div class="container">
  <div class="row">
    <pokemon-region (pokedex)="selectPokedexAction($event)"></pokemon-region>
  </div>
  <div class="row">
    <div class="col s6">
      <pokemon-list [pokedex]="selectPokedex" (pokemon)="selectPokemonAction($event)"></pokemon-list>
    </div>
    <div class="col s6">
      <pokemon-detail [pokemon]="selectPokemon"></pokemon-detail>
    </div>
  </div>
</div>
